<h2>Game Scores</h2>


<table id='scores_table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Score</th>
      <th>Date Played</th>
    </tr>
  </thead>

  <tbody>
    <% @scores&.each do |sc| %>
      <tr>
        <td><%= sc.id %></td>
        <td><%= sc.user.fullname %></td>
        <td><%= sc.score %></td>
        <td><%= sc.created_at.strftime("%b %e, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
