
<div style='margin: 20px;'>
  <span style='color: black;font-weight: bold;'>Shall we play a game, <%= current_user.first_name %>?  </span><input type='text' id='movie_name' placeholder='Enter movie name...'><button class='btn btn-default' id='btn_search'>Search</button>
</div>

<!-- <div id='div_movie_list' ></div>   -->

<div class='container'>
  <div id='div_movie_list'></div>  
</div>

<div class='container'>
  <div id='div_movie_poster'></div>  
  <div id='div_cast_names'></div>  
  <div id='div_cast_photos'></div>  
</div>
