
body > h1 {
  padding: 10px;
}

/* ------------------------------------- */
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
   /* padding: 0 6px;
    float: left;
    width: 24.99999%;*/
}
/* ------------------------------------- */

.div_movie_list {
  margin: 20px;
}

#movie_actors {
  padding: 5px;
  width: 60%;
  border: 0px solid green;
  overflow: hidden;
  margin-top: 65px;
  float: left;
}

#movie_actors > img {
  margin: 2px;
  max-height: 100%; 
  max-width: 100%;
}

#movie_actors > div {
  float: left;
  margin: 5px;
  border: 0px solid lightblue;
}

div.wrapper {
  padding: 5px;
  width: 1200px;
  border: 0px solid lightgray;
  overflow: hidden; 
}
#movie_actors > div > label {
  margin-top: 1px;
  margin-bottom: 20px;
  background-color: antiquewhite;
  font-size: .7em;
  padding: 5px;
  max-width: 170px;
}

#movie_actor_names {
  border: 0px solid lightblue;
  padding: 5px;
  width: 60%;
  overflow: hidden;
  margin-top: 65px;
  float: left;
}
#movie_actor_names  > div {
  float: left;
  margin: 5px;
  border: 0px solid red;
}


#movie_actor_names > div > label {
  background-color: green;
  color: white;
  font-weight: normal;
  font-size: .7em;
  padding: 5px;
  min-width: 94px;
  max-width: 94px;
}

#movie_poster {
  padding: 5px;
  width: 30%;
  height: 800px;
  float:left;
  border: 0px solid red;
}


.div_photo_select {
  border: 0px solid lightgray;
  margin: 10px;
  width: 50%;
  float: left;
}
.div_photo_select:hover {
  border: 0px solid #337ab7;
  box-shadow: 10px 10px 5px #888888;
}

.poster_container {
  width: 300px;
  height: 425px;
  float: left;
  text-align: center;
  margin-right: 20px;
}

.photo_container {
  width: 92px;
  height: 138px;
  float: left;
  text-align: center;
  margin: 10px;
}

.actor_container {
  width: 200px;
  height: 20px;
  float: left;
  text-align: center;
}

#movie_name {
  padding-left: 5px;
}

#btn_search {
  margin-left: 10px;
  border-radius: 7px;
}

#scores_table > tbody > tr:nth-child(odd) {
   background-color: #F6F9ED;
}

#scores_table_wrapper {
  margin-top: 70px;
}

.cancel_link {
  color: red;
}

.required {
  color: red;
}

