

body > h1 {
  padding: 10px;

}

/* ------------------------------------- */
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

/* ------------------------------------- */

.logged_in {
  padding-right: 50px;
  font-size: 1.3em;
}

.photo_caption,
label[id^="actor_name_id_"] {
  color: black;
}

.div_movie_list {
  margin: 20px;
}

#div_cast_photos {
  padding: 5px;
  width: 60%;
  border: 0px solid green;
  overflow: hidden;
  margin-top: 65px;
  float: left;
}

#div_cast_photos > img {
  margin: 2px;
  max-height: 100%; 
  max-width: 100%;
}

#div_cast_photos > div {
  float: left;
  margin: 5px;
  border: 0px solid lightblue;

}

div.wrapper {
  padding: 5px;
  width: 1200px;
  border: 0px solid lightgray;
  overflow: hidden; 
}
#div_cast_photos > div > label {
  margin-top: 1px;
  margin-bottom: 20px;
  background-color: antiquewhite;
  font-size: .7em;
  padding: 5px;
  width: 120px;
  height: 25px;
}

#div_cast_names {
  border: 0px solid lightblue;
  padding: 5px;
  width: 60%;
  overflow: hidden;
  margin-top: 65px;
  float: left;
}
#div_cast_names  > div {
  float: left;
  margin: 5px;
  border: 0px solid red;
}

#div_cast_names > div > label {
  background-color: antiquewhite;
  color: black;
  font-weight: bold;
  font-size: .7em;
  padding: 5px;
  min-width: 120px;
  max-width: 120px;
  border-radius: 7px;
  cursor: move;
}

#div_movie_poster {
  padding: 5px;
  width: 30%;
  height: 800px;
  float:left;
  border: 0px solid red;
}


.div_photo_select {
  border: 1px solid lightgray;
  margin: 10px;
  width: 50%;
  float: left;
  padding: 5px;
}
.div_photo_select:hover {
  border: 1px solid gray;
  box-shadow: 10px 10px 5px #888888;
}


#movie_list_container {
  width: 300px;
  float: left;
  text-align: center;
  /*margin-right: 20px;*/
  border: 1px solid red;
  margin-right: auto;
  margin-left: auto;
}

.poster_container {
  width: 300px;
  height: 425px;
  float: left;
  text-align: center;
  margin-right: 20px;
}

.photo_container {
  width: 92px;
  height: 138px;
  float: left;
  text-align: center;
  margin: 10px;
}

.actor_container {
  width: 200px;
  height: 20px;
  float: left;
  text-align: center;
}

#movie_name {
  padding-left: 5px;
  width: 300px;
}

#btn_search {
  margin-left: 10px;
  border-radius: 7px;
}

#scores_table > tbody > tr:nth-child(odd) {
   background-color: #F6F9ED;
}

#scores_table_wrapper {
  margin-top: 70px;
}

.cancel_link {
  color: red;
}

.required {
  color: red;
}

